In [18]:
import pandas as pd

In [21]:
df = pd.read_csv("data/max_difference_top_10_feature_dataset.csv", index_col=0)

In [22]:
df

     identifier  abs_difference  raw_difference                reason
0      35293745        0.760000        0.760000   ttr_form_chunks_200
1      39998633        0.404296       -0.404296       lexical_density
2      19082588        0.375899        0.375899       lexical_density
3      38361046        0.700000        0.700000  ttr_lemma_chunks_200
4      37440379      194.200000      194.200000       tokens_per_sent
..          ...             ...             ...                   ...
995    35241334       15.000000       15.000000           n_sentences
996    35822801       72.000000      -72.000000              n_tokens
997    39992678       11.428767      -11.428767         upos_dist_DET
998    40716173      152.666667      152.666667       tokens_per_sent
999    34389322       18.000000       18.000000           n_sentences

[1000 rows x 4 columns]

In [23]:
df = df.drop_duplicates(subset='identifier', keep='first')

In [24]:
df

     identifier  abs_difference  raw_difference                reason
0      35293745        0.760000        0.760000   ttr_form_chunks_200
1      39998633        0.404296       -0.404296       lexical_density
2      19082588        0.375899        0.375899       lexical_density
3      38361046        0.700000        0.700000  ttr_lemma_chunks_200
4      37440379      194.200000      194.200000       tokens_per_sent
..          ...             ...             ...                   ...
994    37275524        0.340000        0.340000   ttr_form_chunks_100
995    35241334       15.000000       15.000000           n_sentences
996    35822801       72.000000      -72.000000              n_tokens
997    39992678       11.428767      -11.428767         upos_dist_DET
999    34389322       18.000000       18.000000           n_sentences

[734 rows x 4 columns]

In [26]:
df.to_csv("data/max_difference_top_10_feature_dataset_no_repetition.csv", index=False)

In [17]:
df

,Unnamed: 0,identifier,abs_difference,raw_difference,reason
0,0,35293745,0.760000,0.760000,ttr_form_chunks_200
1,1,39998633,0.404296,-0.404296,lexical_density
2,2,19082588,0.375899,0.375899,lexical_density
3,3,38361046,0.700000,0.700000,ttr_lemma_chunks_200
4,4,37440379,194.200000,194.200000,tokens_per_sent
...,...,...,...,...,...
994,994,37275524,0.340000,0.340000,ttr_form_chunks_100
995,995,35241334,15.000000,15.000000,n_sentences
996,996,35822801,72.000000,-72.000000,n_tokens
997,997,39992678,11.428767,-11.428767,upos_dist_DET
999,999,34389322,18.000000,18.000000,n_sentences