In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/max_difference_top_10_feature_dataset_no_repetition_tr.csv", index_col=0)

In [4]:
df

      identifier  abs_difference  raw_difference                reason
0       39132001        0.665000        0.665000  ttr_lemma_chunks_200
1       36575104       17.444444       17.444444       tokens_per_sent
2       37785737        7.000000        7.000000           n_sentences
3       40702762       17.214286      -17.214286       tokens_per_sent
4       34220634       18.166667      -18.166667       tokens_per_sent
...          ...             ...             ...                   ...
9989    12114420        7.000000        7.000000           n_sentences
9993    13291223        0.210000        0.210000   ttr_form_chunks_100
9995    30777416        0.690000       -0.690000   ttr_form_chunks_200
9998    37519269        0.200000        0.200000   ttr_form_chunks_100
9999    35650351        0.155058        0.155058       lexical_density

[7744 rows x 4 columns]

In [5]:
df = df.drop_duplicates(subset='identifier', keep='first')

In [6]:
df

      identifier  abs_difference  raw_difference                reason
0       39132001        0.665000        0.665000  ttr_lemma_chunks_200
1       36575104       17.444444       17.444444       tokens_per_sent
2       37785737        7.000000        7.000000           n_sentences
3       40702762       17.214286      -17.214286       tokens_per_sent
4       34220634       18.166667      -18.166667       tokens_per_sent
...          ...             ...             ...                   ...
9989    12114420        7.000000        7.000000           n_sentences
9993    13291223        0.210000        0.210000   ttr_form_chunks_100
9995    30777416        0.690000       -0.690000   ttr_form_chunks_200
9998    37519269        0.200000        0.200000   ttr_form_chunks_100
9999    35650351        0.155058        0.155058       lexical_density

[7744 rows x 4 columns]

In [7]:
df.to_csv("data/max_difference_top_10_feature_dataset_no_repetition_tr.csv", index=False)

In [17]:
df

,Unnamed: 0,identifier,abs_difference,raw_difference,reason
0,0,35293745,0.760000,0.760000,ttr_form_chunks_200
1,1,39998633,0.404296,-0.404296,lexical_density
2,2,19082588,0.375899,0.375899,lexical_density
3,3,38361046,0.700000,0.700000,ttr_lemma_chunks_200
4,4,37440379,194.200000,194.200000,tokens_per_sent
...,...,...,...,...,...
994,994,37275524,0.340000,0.340000,ttr_form_chunks_100
995,995,35241334,15.000000,15.000000,n_sentences
996,996,35822801,72.000000,-72.000000,n_tokens
997,997,39992678,11.428767,-11.428767,upos_dist_DET
999,999,34389322,18.000000,18.000000,n_sentences